pipeline/aztraining_adf_copydata_df.json
{
	"name": "aztraining_adf_copydata_df",
	"properties": {
		"description": "this pipeline is used to copy data from raw zone to structured zone ",
		"activities": [
			{
				"name": "Raw to struct data copy",
				"description": "raw to struct data copy in adf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"dataIntegrationUnits": 8
				},
				"inputs": [
					{
						"referenceName": "Binary_blob_training_ds1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Binary_adls_training_ds1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete raw zone data",
				"description": "this will delete the data from source blob after successfully processed files ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Raw to struct data copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_blob_training_ds1",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_ls",
							"type": "LinkedServiceReference"
						},
						"path": "runlogs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_Getmetatdata1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_condition",
				"description": "this activity will filter the list of files ",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_blob').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_blob').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline_copydata",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete raw zone data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyPipeline_onetimecopy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			}
		},
		"variables": {
			"TokenID": {
				"type": "String"
			},
			"Value": {
				"type": "String"
			},
			"Runtokenvalue": {
				"type": "String"
			},
			"TokenPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azuretraining"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-16T16:48:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}